html, body {
	height: 100%;
    padding: 0;
    margin: 0;
}

.side-bar {
	background-color: #8a2629;
	width: 20%;
	height: 100%;
	border: none;
}

a.link-block {
	background-color: transparent;
	color: #ffffff;
	font-family: Tahoma;
	font-size: 50px;
	font-weight: 100; 
	display: block; 
	text-decoration: none;
	text-align: center;
	padding: 15px 15px 15px 15px;
}

a.link-block:hover {
	background-color: #ffffff;
	color: #8a2629;
}

.content {
	background-color: #2A2829;
	border: none;
	width: 80%;
	height: 100%;
	padding: 20px 20px 20px 20px;
	float: left;
}

