html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.side-bar {
	background-color: #8a2629;
	width: 20%;
	border: none;
}

a.link-block:active {
	background-color: transparent;
	font-color: #ffffff;
	font-family: Helvetica;
	font-size: 20px;
	display: block; 
	text-decoration: none;
}

a.link-block:hover {
	background-color: #ffffff;
	font-color: #8a2629;
}

